.section {
    border-radius: 10px;
    max-width: 40rem;
    background-color: #fafafa;
  }
  
  h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #333;
  }

  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    margin: 0.5rem 0;
    padding: 0.5rem;
    background: #f4f0fa;
    border-radius: 5px;
  }